/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Lisanne's custom Classes ---------------------*/
.orangebold {
  color: #fd7e14;
  font-weight: bold
}

.floaty {
  float: left;
}

.noMargin {
  margin: 0;
}

.noPadding {
  padding: 0;
}

.OrangeButton {
  background: #fd7e14;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.OrangeButtonInv {
  background: white;
  color: #fd7e14;
  border-radius: 15px;
  border: #fd7e14 3px solid;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.greyBorder {
  border: lightgrey 1px solid;
  border-radius: 20px;
}

.linky {
  color: dodgerblue;
  cursor: pointer;
}