@page
@model Dog_school.Pages.Admin

@{
    ViewData["Title"] = "Admin Page";
}

<style>
    #navLinks{opacity: 1;}
    #logoutbtn{opacity: 1;}
</style>

<div class="text-center ">
    <h2 style="color: #fd7e14;margin-top: 5%;">Welkom, U bent ingelogd als @ViewData["name"]</h2>
    <img class="row-1" src="images/unknown.png" alt="logo" width="25%" style="margin: 3%">
</div>