@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center ">
    <img class="row-1" src="images/unknown.png" alt="logo" width="25%" style="margin: 3%">
    <form class="row-2 col-4" style="margin: 0 auto">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username"><br>
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password"><br>
        <button type="submit" style="background: #fd7e14;color: white;border-radius: 15px;border: none;padding: 5px;padding-left: 10px;padding-right: 10px;">Login</button>
    </form>

</div>