@page
@model Dog_school.Pages.Customer.Create

@{
    ViewData["Title"] = "Klant toevoegen pagina";
}

<style>
    #navLinks{opacity: 1;}
    #logoutbtn{opacity: 1;}
    
    .orangebold{color: #fd7e14;font-weight: bolder}
    .floaty{float: left;}
    .noMargin{margin: 0;}
    .OrangeButton{
        background: #fd7e14;
        color: white;
        border-radius: 15px;
        border: none;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .hondI{float: left;}
    .badge{float: right;}    
    
</style>
<div class="row-1">
    <h2 class="orangebold">Nieuwe Klant Toevoegen</h2>
    <div class="col-4 floaty">
        <h4 class="orangebold" style="margin:3%">Gegevens Klant</h4>
        <form method="post">
            <input type="text" class="form-control" name="username" id="username" placeholder="Naam klant"><br>
            <input type="text" class="form-control" name="address" id="address" placeholder="Adres"><br>
            <input type="text" class="form-control" name="postalCode" id="postalCode" placeholder="Postcode en Woonplaats"><br>
            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="TelefoonNummer" pattern="^(\+31( |)|)((0\d|1\d|\d)\d{2})(( |)\d{2}){3}$"><br>
            <input type="email" class="form-control" name="email" id="email" placeholder="E-mailadres" pattern="^[^@@\s]{1,64}@@[^@@\s]{1,64}\.[^@@\s]{1,64}$"><br>
            <input type="text" class="form-control" name="note" id="note" placeholder="Opmerking"><br>
            <button class="OrangeButton" type="submit" asp-page-handler="CustomerCreate">Opslaan</button>
        </form>
    </div>
    <div class="col-4 floaty">
        <h4 class="orangebold" style="margin:3%">Gegevens Hond</h4>
        <div id="hond1" class="col-12" style="border: 1px solid lightgrey; border-radius: 20px; min-height: 200px;padding-right: 0;">
            <div class="col=10 hondI">
                <h5 class="orangebold">Naam Hond</h5>
                <p class="noMargin">Ras Hond</p>
                <p class="noMargin">Geboorte datum</p>
                <p class="noMargin">Geslacht</p>
                <p class="noMargin">Cursussen</p>
                <p class="noMargin">Opmerking</p>
            </div>
            @*<div class="badge noMargin" >
                <img src="images/baseline_military_tech_black_24dp.png" width="100%" height="100%">
            </div>*@
        </div>
    </div>
    <div class="col-4 floaty">
        <h4 class="orangebold" style="margin:3%">Nieuwe Hond toevoegen</h4>
        <form>
            <input type="text" class="form-control" name="naam" placeholder="Naam Hond"><br>
            <input type="text" class="form-control" name="ras" placeholder="Ras Hond"><br>
            <input type="date" class="form-control" name="geboortedatum" placeholder="Geboorte Datum"><br>
            <input type="text" class="form-control" name="geslacht" placeholder="Geslacht"><br>
            <input type="text" class="form-control" name="opmerking" placeholder="Opmerking"><br>
            <select id="cursussen" class="form-control" name="cursussen">
                <option value="puppyCursusM">Puppy cursus (Maandag)</option>
                <option value="puppyCursusDi">Puppy cursus (Dinsdag)</option>
                <option value="bewustSamenwerkenAW">Bewust Samenwerken A (Woensdag)</option>
            </select><br>
            <button class="OrangeButton" type="submit" asp-page="">Voeg hond toe</button>
        </form>
    </div>

</div>